header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-bottom: 2px solid #ffcc00;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo{
  cursor: pointer;
}

header .logo {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

header nav {
  display: flex;
  gap: 1.5rem;
}

header nav a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
}

header nav a:hover {
  color: #ffcc00;
}

header nav a.active {
  color: #ffcc00;
}

img {
  width: 110px;
  height: auto;
  object-fit: contain;
  filter: invert(100%); 
  z-index: 1001;
}



@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 0.5rem;
  }
  header nav {
    flex-direction: column;
    gap: 0.5rem;
  }
}
